<ul>
  <% @data.each do |station| %>

  <li>
  Station name: <%= "#{station['name']}" %><br>
  Lat: <%= "#{station['lat']/1000000.0}" %><br>
  Long: <%= "#{station['lng']/1000000.0}" %><br>
  </li><br>
  <% end %>
</ul>


<!-- @data.inspect
[{"name"=>"W 52 St & 11 Ave"
 "idx"=>0
 "timestamp"=>"2013-06-27T02:11:01.259248"
 "number"=>72
 "free"=>32
 "bikes"=>6
 "coordinates"=>""
 "address"=>"W 52 St & 11 Ave"
 "lat"=>40767272
 "lng"=>-73993928
 "id"=>0}] 
 -->